# Don't remove this, this is the most important thing that doesn't mean much in your life
# Please read How to Build to understand all about this wonderful piece of meaningless trash :)

Constants.java